<%= simple_form_for(@trip, html: { novalidate: true }) do |f| %>
  <%= f.input :name, label: "Nom du voyage" %>
  <%= f.input :destination, label: "Destination" %>
  <%= f.input :number_of_travelers, label: "Nombre de voyageurs" %>

  <div class="d-flex align-items-center">
    <%= f.button :submit, "Enregistrer le voyage", class: "btn btn-primary" %>
    <%= link_to "Annuler", trips_path, class: "btn btn-link text-muted" %>
  </div>
<% end %>
