<h1>Mes envies de voyage</h1>
<%= link_to "Nouvelle envie", new_trip_path %>

<% if @trips.any? %>
  <ul>
    <% @trips.each do |trip| %>
      <li>
        <strong><%= trip.name %></strong> - <%= trip.destination %>
        (Voyageurs : <%= trip.number_of_travelers %>)

        <%= link_to "Détails", trip_path(trip) %>
        <%= link_to "Modifier", edit_trip_path(trip) %>
        <%= button_to "Supprimer", trip_path(trip), method: :delete %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n'avez pas encore d'envies de voyage.</p>
<% end %>
