<h2>Créer un nouveau voyage</h2>

<%= form_with model: @trip do |f| %>
  <div>
    <%= f.label :name, "Nom du voyage" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :destination, "Ville de destination" %>
    <%= f.text_field :destination %>
  </div>

  <div>
    <%= f.label :number_of_travelers, "Nombre de voyageurs" %>
    <%= f.number_field :number_of_travelers %>
  </div>

  <%= f.submit "Créer mon voyage" %>
  <%= link_to "Annuler", trips_path %>
<% end %>
