<h1>Détails de votre voyage</h1>

<div>
  <p>Nom du voyage : <%= @trip.name %></p>
  <p>Destination : <%= @trip.destination %></p>
  <p>Nombre de voyageurs : <%= @trip.travellers_number %></p>
</div>

<%= link_to "← Retour à la liste", trips_path %>
<%= button_to "Supprimer ce voyage", trip_path(@trip), method: :delete %>

<div class="row">
  <div class="col">
    <h1><%= @trip.name %></h1>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1><%= @trip.name %></h1>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <!-- ... -->

    <%= button_to "New chat", trip_chats_path(@trip), class: "btn btn-primary" %>
  </div>
</div>
