<h1>Détails de votre voyage</h1>

<div>
  <p>Nom du voyage : <%= @trip.name %></p>
  <p>Destination : <%= @trip.destination %></p>
  <p>Nombre de voyageurs : <%= @trip.number_of_travelers %></p>
</div>

<%= link_to "← Retour à la liste", trips_path %>
<%= button_to "Supprimer ce voyage", trip_path(@trip), method: :delete %>
